image{
    width: 10;
    height:10;
}
html{
    font-size: 100%;
    font-weight: bolder;
}

  .design-details{
      display: none;
    cursor: pointer;
    color: #0088cc;
  }

  .design-details:hover {
    text-decoration: underline;
  }
  .container{
      padding-inline-end: 0pt;
  }